@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Archivo";
    @apply bg-darkGrey antialiased leading-relaxed text-slate-400 selection:bg-green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-veryLightGrey tracking-tight;
}

h1 {
    @apply font-bold;
}

h2 {
    @apply font-semibold;
}

h3 {
    @apply font-medium;
}

p {
    @apply text-lightGrey leading-normal;
}

span {
    @apply text-lightGrey font-medium tracking-tight;
}

svg {
    @apply text-lightGrey hover:text-yellow transition transform hover:-translate-y-0.5;
}

a {
    @apply underline hover:text-cyan transition;
}


@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/Archivo-Light.woff2") format('woff2'),
        url("/fonts/Archivo-Light.woff") format('woff'),
        url("/fonts/Archivo-Light.ttf") format('truetype');
}

@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Archivo-Regular.woff2") format('woff2'),
        url("/fonts/Archivo-Regular.woff") format('woff'),
        url("/fonts/Archivo-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Archivo-Medium.woff2") format('woff2'),
        url("/fonts/Archivo-Medium.woff") format('woff'),
        url("/fonts/Archivo-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Archivo-SemiBold.woff2") format('woff2'),
        url("/fonts/Archivo-SemiBold.woff") format('woff'),
        url("/fonts/Archivo-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Archivo-Bold.woff2") format('woff2'),
        url("/fonts/Archivo-Bold.woff") format('woff'),
        url("/fonts/Archivo-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Archivo";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/Archivo-Italic.woff2") format('woff2'),
        url("/fonts/Archivo-Italic.woff") format('woff'),
        url("/fonts/Archivo-Italic.ttf") format('truetype');
}