@tailwind base;
@tailwind components;
@tailwind utilities;

.heading-color {
    @apply text-slate-200;
}

.content-color {
    @apply text-slate-500;
}

.content-color-dark {
    @apply text-slate-600;
}

.accent-primary {
    @apply text-teal-300;
}

.accent-secondary {
    @apply bg-teal-400;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Archivo";
    @apply bg-slate-800 antialiased leading-relaxed text-slate-400;
}


@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Archivo-Light.ttf");
}

@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Archivo-Regular.ttf");
}

@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Archivo-Medium.ttf");
}

@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Archivo-SemiBold.ttf");
}

@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Archivo-Bold.ttf");
}

@font-face {
    font-family: "Archivo";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Archivo-Italic.ttf");
}